@import "@styles/styleVariables.module.scss";

.ingredientsArea {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
}
.ingredientsBlock {
  width: 18%;
  height: 80%;
  padding: 23px 15px;
  border: 1px solid $beige;
}
.ingredientsTitles {
  font-size: 16px;
  font-weight: 500;
  height: 30px;
  color: $beige;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}
.titleDeviders {
  border: 1px dashed $beige;
  margin-bottom: 10px;
}
.ingredients {
  color: $beige;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 200%;
  letter-spacing: 2px;
}
.markers {
  width: 40px;
  height: 40px;
  position: absolute;
  transform: translate(-30px, -37px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.ingredientsLists{
  list-style-type: none;
  text-align: left;
}

