@import "@styles/styleVariables.module.scss";

.ingredientsArea {
  width: 100%;
  height: 29%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.ingredientsBlock {
  width: 180px;
  height: 180px;
  padding: 23px 15px;
  border: 1px solid $beige;
  background-color: $black;
  position: relative;
}
.ingredientsTitles {
  font-size: 16px;
  font-weight: 500;
  height: 30px;
  color: $beige;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  border-bottom: 2px dashed $beige;
  margin-bottom: 13px;
}
.ingredients {
  color: $beige;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 200%;
  letter-spacing: 2px;
}
.ingredientsLists{
  list-style-type: none;
  text-align: left;
}

