.bg-default{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 0.3;
}
.main {
  height: 540px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  background-color: $white;
  margin-bottom: 30px;
  border-bottom: 4px solid $blue;
  border-right: 4px solid $blue;
  padding-right: 3.2em;
  position: relative;
}
.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 57px 0 26px 0;
}
.mainHeader {
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 700;
  color: $blue;
}
.headerColorizer {
  color: $red;
}
.mainImage {
  width: 230px;
  height: 230px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border-radius: 100%;
  transform: rotate(16deg);
}
.imageBlock1 {
  @extend .bg-default;
  border-top-left-radius: 100%;
  transform: translate(0.2px, 0.2px);
}
.imageBlock2 {
  @extend .bg-default;
  border-top-right-radius: 100%;
  transform: translate(-0.2px, 0.5px);
}
.imageBlock3 {
  @extend .bg-default;
  border-bottom-left-radius: 100%;
  transform: translate(0.2px, -0.2px);
}
.imageBlock4 {
  @extend .bg-default;
  border-bottom-right-radius: 100%;
  transform: translate(-0.45px, -0.25px);
}
.orderButton {
  width: 55%;
  height: 60px;
  border: 5px solid $blue;
  align-content: center;
  opacity: 0.3;
}
.orderButtonBg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: $golden-sandy;
  border: 5px solid $white;
}
.buttonText {
  color: $blue;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

