@import "@styles/styleVariables.module.scss";


.orderArea {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 45%;
  position: relative;
}
.orderAreaImage{
  width: 350px;
  aspect-ratio: 1;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 112% 112%;
}
.orderListWrapper {
  width: 45.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  border-bottom: 2px dashed $beige;
  border-top: 2px dashed $beige;
}
.orderListTitle {
  font-size: 20px;
  font-weight: 400;
  color: $beige;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 20px 0 10px 0;
  text-align: center;
}
.selectedIngredientsList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  list-style-type: none;
  align-items: flex-start;
  gap: 14px;
}
.selectedIngredients {
  width: 100%;
  font-size: 14px;
  color: $beige;
  text-transform: uppercase;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.selectedIngredientName{
  font-size: 16px;
  font-weight: 300;
  cursor: default;
}
.removeButton{
  width: 20px;
  height: 20px;
  border: 2px solid $red;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.removeButtonImg{
  width: 13px;
  aspect-ratio: 1;
}
.orderPrice {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 20px;
}
.priceText {
  font-size: 18px;
  font-weight: 500;
  color: $beige;
  text-transform: uppercase;
}
.priceValue {
  font-size: 20px;
  font-weight: 500;
  color: $beige;
  text-transform: uppercase;
}
.pizzaSliceLeft{
  position: absolute;
  width: 170px;
  height: 110px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  left: 28%;
  top: 20%;
  transform: rotate(3deg);
}

