.orderListWrapper {
  width: 100%;
  height: 325px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  gap: 20px;
}
.orderAreaBg {
  background-color: $blue;
  width: 37%;
  height: 113.8%;
  position: absolute;
  transform: translate(0, -65px);
  z-index: 2;
}
.orderArea {
  width: 39%;
  position: relative;
  z-index: 3;
}
.logo {
  width: 100%;
}
.orderListTitle {
  font-size: 1.3em;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  align-self: center;
}
.orderedItemsList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  list-style-type: none;
  align-items: flex-start;
  gap: 11px;
}
.orderedItems {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: $white;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.orderedItemName{
  font-size: 16px;
  font-weight: 500;
  cursor: default;
}
.removeButton{
  width: 20px;
  height: 20px;
  border: 1px solid $white;
  border-radius: 20%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.removeButtonImg{
  width: 13px;
  aspect-ratio: 1;
}
.orderPrice {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 30px;
}
.priceText {
  font-size: 18px;
  font-weight: 600;
  color: $white;
  text-transform: uppercase;
}
.priceValue {
  font-size: 20px;
  font-weight: 600;
  color: $white;
  text-transform: uppercase;
}
