@import "@styles/styleVariables.module.scss";


.orderArea {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.orderAreaImage{
  width: 35%;
}
.orderListWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  // border: 1px dashed $beige;
  // border-radius: 5px;
 
}
.orderListTitle {
  font-size: 20px;
  font-weight: 400;
  color: $beige;
  text-transform: uppercase;
  letter-spacing: 4px;
  align-self: center;
}
.selectedIngredientsList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  list-style-type: none;
  align-items: flex-start;
  gap: 14px;
}
.selectedIngredients {
  width: 100%;
  font-size: 14px;
  color: $beige;
  text-transform: uppercase;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.selectedIngredientName{
  font-size: 16px;
  font-weight: 300;
  cursor: default;
}
.removeButton{
  width: 20px;
  height: 20px;
  border: 1px solid $beige;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.removeButtonImg{
  width: 12px;
  aspect-ratio: 1;
}
.orderPrice {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 25px;
}
.priceText {
  font-size: 18px;
  font-weight: 500;
  color: $beige;
  text-transform: uppercase;
}
.priceValue {
  font-size: 20px;
  font-weight: 500;
  color: $beige;
  text-transform: uppercase;
}
