@import "@styles/styleVariables.module.scss";
@import "@styles/montserrat.module.scss";

.bg-default{
  background-repeat: no-repeat;
  background-size: 122.5px 122.5px;
  background-position: 0 0;
}
.pizzaSection{
  width: 35%;
  height: 100%;
  position: relative;
}
.pizzaSectionBg{
  width: 100%;
  height: 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 350px auto;
  position: relative;
}
.pizzaImage{
  width: 245px;
  aspect-ratio: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  position: absolute;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 245px 245px;
  opacity: 1;
  top: 13%;
  left: 10%;
  transform: rotate(16deg);
}

.imageBlock1 {
  @extend .bg-default;
  border-top-left-radius: 100%;
  transform: translate(0.8px, 0px);
}
.imageBlock2 {
  @extend .bg-default;
  border-top-right-radius: 100%;
  transform: translate(0.4px, 0px);
}
.imageBlock3 {
  @extend .bg-default;
  border-bottom-left-radius: 100%;
  transform: translate(0.8px, -0.2px);
}
.imageBlock4 {
  @extend .bg-default;
  border-bottom-right-radius: 100%;
  transform: translate(0.4px, -0.2px);
}
.orderButton {
  width: 45%;
  height: 5.5%;
  border: 2px solid $beige;
  border-radius: 50px;
  align-content: center;
  position: absolute;
  bottom: 25%;
  left: 10%;
  z-index: 2;
  background-color: $black;
  opacity: 0.3;
}
.buttonText {
  color: $beige;
  font-size: 22px;
  font-weight: 500;
  font-family: "Montserrat";
  text-transform: uppercase;
}

