@import "@styles/styleVariables.module.scss";
@import "@styles/montserrat.module.scss";

.bg-default{
  background-repeat: no-repeat;
  background-size: 115px 115px;
  background-position: 0 0;
}
.pizzaSection{
  width: 400px;
  height: 745px;
  position: relative;
}
.pizzaSectionBg{
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 330px auto;
  position: relative;
}
.pizzaImage{
  width: 230px;
  aspect-ratio: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  position: absolute;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 230px 230px;
  opacity: 1;
  top: 18%;
  left: 21%;
  transform: rotate(16deg);
}

.imageBlock1 {
  @extend .bg-default;
  border-top-left-radius: 100%;
  transform: translate(0.8px, 0px);
}
.imageBlock2 {
  @extend .bg-default;
  border-top-right-radius: 100%;
  transform: translate(0.4px, 0px);
}
.imageBlock3 {
  @extend .bg-default;
  border-bottom-left-radius: 100%;
  transform: translate(0.8px, -0.2px);
}
.imageBlock4 {
  @extend .bg-default;
  border-bottom-right-radius: 100%;
  transform: translate(0.4px, -0.2px);
}
.orderButton {
  width: 54%;
  height: 5.5%;
  border: 2px solid $beige;
  border-radius: 50px;
  align-content: center;
  position: absolute;
  bottom: 25%;
  left: 23%;
  background-color: $black;
  color: $beige;
  font-size: 22px;
  font-weight: 500;
  font-family: "Montserrat";
  text-transform: uppercase;
  opacity: 0.3;
  transition: transform 0.3s ease;
  cursor: default;
}
.buttonEnabled {
  opacity: 1;
  cursor: pointer;
}
.buttonEnabled:hover {
  transform : scale(1.07);
}