@import "@styles/styleVariables.scss";

.modalWindow{
    width: 380px;
    height: 200px;
    background-color: $white;
    border: 4px solid $golden-sandy;
    padding: 20px;
    position: fixed;
    z-index: 5;
    top: 30px;
    transform: translate(0, 30px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.modalContent{
    font-size: 16px;
    font-weight: 700;
    color: $blue;
    line-height: 140%;
    text-align: justify;
}
.modalButton{
    width: 130px;
    height: 30px;
    border: 3px solid $blue;
}
.closeModalText{
    font-size: 14px;
    color: $blue;
}
