@import "@styles/styleVariables.module.scss";

.modalWindow{
    width: 380px;
    height: 250px;
    background-color: $black;
    padding: 20px;
    position: fixed;
    z-index: 5;
    top: 22%;
    left: 42%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $beige;
}
.modalContent{
    font-size: 14px;
    font-weight: 600;
    font-family: "Montserrat";
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $beige;
    line-height: 200%;
    text-align: justify;
}
.modalButton{
    width: 180px;
    height: 30px;
    border: 2px solid $beige;
    background-color: $beige;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    color: $black;
    text-transform: uppercase;
}
