@import "./styles/main.module.scss";

@import "./styles/roboto.scss";

@import "./styles/orderArea.module.scss";

@import "./styles/mainContent.module.scss";

@import "./styles/ingredients.module.scss";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  position: relative;
}
